*{
    border: 0px;
    margin: 0px;
}

.container{
    height: 40px;
    text-align: center;
    margin-top: 200px;
}

#about{
    background-color: rgba(35, 27, 33, 0.25);
    margin-left: 15.5rem;
    margin-top: 5rem;
    width: 49rem;
}

#header{
    color:black;
}
h1{
    color: white;
    padding: 20px;
}

p{
    text-align: start;
}

.description{
    margin-left: 20px;
    margin-right: 20px;
}
